body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 3rem;
    background: #0d1117;
    color: #eee;
}

a {
    color: #1A43BF;
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
    display: flex;
}

header {
    margin: 0;
    border: #1A43BF solid 2px;
}

ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

li {
    list-style: none;
    margin-left: 1rem;
}

#pfp {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.about-text {
    text-align: left;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: #1A43BF solid 2px;
    width: 60%;
}

.about-image {
    margin-right: 2rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 1rem;
}